* {
  box-sizing: border-box;
  margin: 0;
  overflow: 0;
}
body {
  font-family: 'ArialMT', sans-serif;
}
.wrapper {
  width: 570px;
  height: 570px;
  margin: 20px auto;
  padding-top: 100px;
  background-color: #ebf4f4;
}
.form {
  width: 320px;
  height: 370px;
  padding: 0 29px 30px;
  margin-left: 125px;
  background-color: #fff;
  border: 1px solid #cfdede;
}
.form-header {
  display: inline-block;
  position: relative;
  top: -3px;
  padding: 5px 10px;
  background-color: #01b3b3;
  font-size: 12px;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
  margin-bottom: 29px;
}
.form .field-header {
  font-size: 12px;
  letter-spacing: 0.5px;
  font-weight: bold;
  text-transform: capitalize;
  margin-bottom: 12px;
}
.form .field-header span {
  color: #0eb7b7;
}
.form input {
  width: 100%;
  height: 30px;
  border: 1px solid #cfdede;
  padding-left: 12px;
  outline: none;
  font-size: 12px;
  font-style: italic;
  margin-bottom: 15px;
  background-color: #ebf4f4;
}
.form .email-field {
  margin-bottom: 2px;
}
.form .password-field {
  margin-bottom: 2px;
}
.form .password-field .field-header {
  margin-bottom: 15px;
}
.form .confirm-field {
  margin-bottom: 20px;
}
.form .confirm-field .field-header {
  margin-bottom: 14px;
}
.form .button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 12px 0 14px;
  color: #fff;
  background-color: #01c3c3;
  border-radius: 5px;
  border: 1px solid #07baba;
}
