@font-face {
  font-family: 'ProximaNova_bold';
  src: url('../fonts/ProximaNova-Bold.eot');
  src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Bold.woff2') format('woff2'), url('../fonts/ProximaNova-Bold.woff') format('woff'), url('../fonts/ProximaNova-Bold.ttf') format('truetype'), url('../fonts/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'ProximaNova_reg';
  src: url('../fonts/ProximaNova-Regular.eot');
  src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Regular.woff2') format('woff2'), url('../fonts/ProximaNova-Regular.woff') format('woff'), url('../fonts/ProximaNova-Regular.ttf') format('truetype'), url('../fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.container {
  padding: 0;
}
.row {
  margin: 0;
}
.row * {
  padding: 0;
}
p {
  margin-bottom: 0;
}
html {
  font-family: 'ProximaNova_reg', sans-serif;
  min-width: 320px;
  font-size: 10px;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #292929;
}
.smal {
  display: none;
}
.button {
  display: inline-block;
  padding: 2rem 1.2rem;
  color: #fff;
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #f6ae01;
  border: none;
  border-radius: .5rem;
}
.button:hover {
  color: #fff;
  box-shadow: inset 0 0 5rem #292929;
  transition: box-shadow ease 1s;
}
.arrow {
  position: absolute;
  width: 1.3rem;
  height: 2rem;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  outline: none;
  background: none;
  z-index: 10;
}
.prev {
  left: 0;
  background: url('../img/arrow.svg') center center no-repeat;
  transform: rotateY(180deg);
}
.next {
  background: url('../img/arrow.svg') center center no-repeat;
  right: 0;
}
.section-header {
  text-align: center;
  font-size: 3.6rem;
  font-family: 'ProximaNova_bold', sans-serif;
}
.main .head {
  margin-bottom: 9.9rem;
  padding-top: 1.5rem;
  padding-bottom: 4rem;
  background: #ffffff url("../img/background1.jpg") center center no-repeat;
  background-size: cover;
}
.main .head header {
  margin-bottom: 10.4rem;
}
.main .head header .row {
  display: flex;
  align-items: center;
}
.main .head header .row .header-phone {
  padding-right: 1rem;
  text-align: end;
  font-size: 2rem;
  font-weight: bold;
}
.main .head .info .left-side .main-title {
  font-family: 'ProximaNova_bold', sans-serif;
  margin-bottom: 5.3rem;
  font-size: 4rem;
  line-height: 5.8rem;
  text-transform: uppercase;
}
.main .head .info .left-side .main-subtitle {
  font-family: 'ProximaNova_reg', sans-serif;
  margin-bottom: 6.3rem;
  font-size: 2.4rem;
  line-height: 1.2;
}
.main .head .info .left-side .head-banner {
  font-family: 'ProximaNova_bold', sans-serif;
  display: inline-block;
  margin-bottom: 3.7rem;
  padding: 3rem 4rem;
  text-align: center;
  background-color: #45b513;
  font-size: 1.8rem;
  color: #fff;
}
.main .head .info .left-side .head-banner .banner-caption,
.main .head .info .left-side .head-banner .banner-content {
  display: block;
}
.main .head .info .left-side .head-banner .banner-price {
  font-size: 3rem;
}
.main .head .info .left-side .pay-time {
  font-family: 'ProximaNova_bold', sans-serif;
  text-transform: uppercase;
  font-size: 2.2rem;
}
.main .head .right-side .form {
  margin-bottom: 3.6rem;
  padding: 4.6rem 5rem;
  background-color: #fff;
}
.main .head .right-side .form .form-header {
  font-family: 'ProximaNova_reg', sans-serif;
  margin-bottom: 3.9rem;
  font-size: 1.8rem;
  line-height: 1.2;
  text-align: center;
}
.main .head .right-side .form .form-header .strong-text {
  font-weight: bold;
}
.main .head .right-side .form .form-inputs {
  position: relative;
}
.main .head .right-side .form .form-inputs .form-label {
  display: inline;
  position: absolute;
  padding: 0 0.5rem;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  font-size: 1.4rem;
  background-color: #fff;
}
.main .head .right-side .form .form-inputs .form-input {
  display: block;
  width: 100%;
  height: 5.4rem;
  margin-bottom: 2.5rem;
  border: 1px solid #dddddd;
}
.main .head .right-side .form .form-inputs button {
  width: 100%;
  padding: 2.7rem 5.5rem;
  margin-bottom: 1.5rem;
  font-size: 1.6rem;
}
.main .head .right-side .form .form-inputs .comment {
  margin: 0;
  font-size: 1.2rem;
  text-align: center;
  color: #565656;
}
.main .head .right-side .time-info {
  margin-bottom: 0;
  margin-left: 3rem;
  font-size: 1.2rem;
  line-height: 1.2;
  color: #565656;
}
.main .features .section-header {
  margin-bottom: 12.5rem;
}
.main .features .features-slider {
  margin: 0 5rem 14rem;
}
.main .features .features-slider .feature-item {
  text-align: center;
}
.main .features .features-slider .feature-item .feature-caption {
  font-size: 2rem;
  font-family: 'ProximaNova_bold', sans-serif;
}
.main .features .features-slider .feature-item .feature-img {
  margin-bottom: 6.4rem;
}
.main .features .features-slider .feature-item .feature-img img {
  display: inline-block;
  width: 7rem;
  height: 7rem;
}
.main .features .features-slider .feature-item .feature-text {
  display: inline-block;
  width: 75%;
  font-size: 1.6rem;
  line-height: 2rem;
}
.popup {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
}
.popup-content {
  position: relative;
  text-align: center;
  background-color: #fff;
  padding: 3.5rem;
}
.popup-content .popup-header .contact-form-close {
  position: absolute;
  top: -1.8rem;
  right: -4rem;
  background: transparent;
  color: #fff;
  border: none;
  font-size: 3rem;
}
.popup-content p {
  margin-bottom: 4rem;
  font-family: 'ProximaNova_reg', sans-serif;
  font-size: 1.8rem;
}
.popup-content p span {
  font-family: 'ProximaNova_bold', sans-serif;
  display: block;
}
.popup-content .form-inputs {
  position: relative;
}
.popup-content .form-inputs .form-label {
  position: absolute;
  left: 50%;
  transform: translate(-50%) translateY(-50%);
  padding: 0 .5rem;
  font-size: 1.3rem;
  background-color: #fff;
}
.popup-content .form-inputs .form-input,
.popup-content .form-inputs textarea {
  border: 1px solid #dddddd;
  display: block;
  width: 100%;
  margin-bottom: 2.6rem;
  outline: none;
  border-radius: .5rem;
}
.popup-content .form-inputs .form-input {
  height: 5.4rem;
}
.popup-content .form-inputs textarea {
  height: 9.1rem;
  margin-bottom: 1.6rem;
}
@media (max-width: 575px) {
  .main .head {
    padding-top: 1rem;
    padding: 0;
    background-position: left;
  }
  .main .head .container {
    position: relative;
  }
  .main .head .container .header {
    position: relative;
    background-position: left;
  }
  .main .head .container .header .row {
    padding: 1rem;
    background-color: #fff;
  }
  .main .head .container .header .row .logo-link {
    position: absolute;
    text-align: center;
    top: 9rem;
  }
  .main .head .container .header .row .header-phone {
    font-size: 1.4rem;
    text-align: left;
  }
  .main .head .container .header .row .button {
    padding: 1.4rem 1rem;
    font-size: 1.2rem;
  }
  .main .head .container .header .row .button .smal {
    display: block;
  }
  .main .head .container .header .row .button .big {
    display: none;
  }
  .main .head .container .info {
    font-size: 1.8rem;
    margin-top: 13.8rem;
  }
  .main .head .container .info .left-side {
    text-align: center;
  }
  .main .head .container .info .left-side .main-title {
    margin-bottom: 2.2rem;
    font-size: 2.2rem;
    line-height: 1.5;
  }
  .main .head .container .info .right-side .form {
    margin: 2.2rem 1rem;
    padding: 2.2rem;
  }
  .main .head .container .info .right-side .form .button {
    padding: 2.2rem 4.7rem;
    font-size: 1.6rem;
  }
  .main .head .container .info .right-side .time-info {
    display: inline-block;
    margin: 0;
    width: 100%;
    text-align: center;
  }
}
@media (max-width: 768px) {
  .main .head {
    background-position: left;
  }
  .main .head .container .info {
    font-size: 1.8rem;
    margin-top: 13.8rem;
  }
  .main .head .container .info .left-side {
    text-align: center;
    margin-bottom: 2rem;
  }
  .main .head .container .info .left-side .main-title {
    margin-bottom: 2.2rem;
    font-size: 2.2rem;
    line-height: 1.5;
  }
  .main .head .container .info .right-side .form {
    margin: 0 1rem 2.2rem;
    padding: 2rem;
  }
  .main .head .container .info .right-side .form .button {
    padding: 2.2rem 4.7rem;
    font-size: 1.6rem;
  }
  .main .head .container .info .right-side .time-info {
    display: inline-block;
    margin: 0;
    width: 100%;
    text-align: center;
  }
}
@media (max-width: 992px) {
  .main .head {
    background-position: left;
  }
  .main .head .container .info {
    font-size: 1.8rem;
    margin-top: 13.8rem;
  }
  .main .head .container .info .left-side {
    text-align: center;
    margin-bottom: 2rem;
  }
  .main .head .container .info .left-side .main-title {
    margin-bottom: 2.2rem;
    font-size: 2.2rem;
    line-height: 1.5;
  }
  .main .head .container .info .right-side .form {
    margin: 0 1rem 2.2rem;
    padding: 2rem;
  }
  .main .head .container .info .right-side .form .button {
    padding: 2.2rem 4.7rem;
    font-size: 1.6rem;
  }
  .main .head .container .info .right-side .time-info {
    display: inline-block;
    margin: 0;
    width: 100%;
    text-align: center;
  }
}
@media (max-width: 1200px) {
  .main .head .container .info {
    font-size: 1.8rem;
    margin-top: 13.8rem;
  }
  .main .head .container .info .left-side {
    text-align: center;
  }
  .main .head .container .info .left-side .main-title {
    margin-bottom: 2.2rem;
    font-size: 2.2rem;
    line-height: 1.5;
  }
  .main .head .container .info .right-side .form {
    margin: 0 1rem 2.2rem;
    padding: 2rem;
  }
  .main .head .container .info .right-side .form .button {
    padding: 2.2rem 4.7rem;
    font-size: 1.6rem;
  }
  .main .head .container .info .right-side .time-info {
    display: inline-block;
    margin: 0;
    width: 100%;
    text-align: center;
  }
}
.hide {
  display: none;
}
.active {
  display: block;
}
