@font-face {
  font-family: 'ProximaNova_bold';
  src: url('../fonts/ProximaNova-Bold.eot');
  src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Bold.woff2') format('woff2'), url('../fonts/ProximaNova-Bold.woff') format('woff'), url('../fonts/ProximaNova-Bold.ttf') format('truetype'), url('../fonts/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'ProximaNova_reg';
  src: url('../fonts/ProximaNova-Regular.eot');
  src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Regular.woff2') format('woff2'), url('../fonts/ProximaNova-Regular.woff') format('woff'), url('../fonts/ProximaNova-Regular.ttf') format('truetype'), url('../fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.container {
  padding: 0;
}
.row {
  margin: 0;
}
.row * {
  padding: 0;
}
p {
  margin-bottom: 0;
}
html {
  font-family: 'ProximaNova_reg', sans-serif;
  font-size: 10px;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #292929;
}
.button {
  display: inline-block;
  padding: 2rem 1.2rem;
  color: #fff;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #f6ae01;
  border: none;
  border-radius: .5rem;
}
.main .head {
  padding-top: 1.5rem;
  padding-bottom: 4rem;
  background: #ffffff url("../img/background1.jpg") center center no-repeat;
  background-size: cover;
}
.main .head header {
  margin-bottom: 10.4rem;
}
.main .head header .row {
  display: flex;
  align-items: center;
}
.main .head header .row .header-phone {
  padding-right: 1rem;
  text-align: end;
  font-size: 2rem;
  font-weight: bold;
}
.main .head .info .left-side .main-title {
  font-family: 'ProximaNova_bold', sans-serif;
  margin-bottom: 5.3rem;
  font-size: 4rem;
  line-height: 5.8rem;
  text-transform: uppercase;
}
.main .head .info .left-side .main-subtitle {
  font-family: 'ProximaNova_reg', sans-serif;
  margin-bottom: 6.3rem;
  font-size: 2.4rem;
  line-height: 1.2;
}
.main .head .info .left-side .head-banner {
  font-family: 'ProximaNova_bold', sans-serif;
  display: inline-block;
  margin-bottom: 3.7rem;
  padding: 3rem 4rem;
  text-align: center;
  background-color: #45b513;
  font-size: 1.8rem;
  color: #fff;
}
.main .head .info .left-side .head-banner .banner-caption,
.main .head .info .left-side .head-banner .banner-content {
  display: block;
}
.main .head .info .left-side .head-banner .banner-price {
  font-size: 3rem;
}
.main .head .info .left-side .pay-time {
  font-family: 'ProximaNova_bold', sans-serif;
  text-transform: uppercase;
  font-size: 2.2rem;
}
.main .head .right-side .form {
  margin-bottom: 3.6rem;
  padding: 4.6rem 5rem;
  background-color: #fff;
}
.main .head .right-side .form .form-header {
  font-family: 'ProximaNova_reg', sans-serif;
  margin-bottom: 3.9rem;
  font-size: 1.8rem;
  line-height: 1.2;
  text-align: center;
}
.main .head .right-side .form .form-header .strong-text {
  font-weight: bold;
}
.main .head .right-side .form .form-inputs {
  position: relative;
}
.main .head .right-side .form .form-inputs .form-label {
  display: inline;
  position: absolute;
  padding: 0 0.5rem;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  font-size: 1.4rem;
  background-color: #fff;
}
.main .head .right-side .form .form-inputs .form-input {
  display: block;
  width: 100%;
  height: 5.4rem;
  margin-bottom: 2.5rem;
  border: 1px solid #dddddd;
}
.main .head .right-side .form .form-inputs button {
  width: 100%;
  padding: 2.7rem 5.5rem;
  margin-bottom: 1.5rem;
  font-size: 1.6rem;
}
.main .head .right-side .form .form-inputs .comment {
  margin: 0;
  font-size: 1.2rem;
  text-align: center;
  color: #565656;
}
.main .head .right-side .time-info {
  margin-bottom: 0;
  margin-left: 3rem;
  font-size: 1.2rem;
  line-height: 1.2;
  color: #565656;
}
